;------------------------------------
; Fix reset for targetname OnMapSpawn
;------------------------------------
modify:
{
    match:
    {
        "origin" "-2904 -6648 1446"
        "classname" "logic_auto"
    }
    insert:
    {
        "OnMapSpawn" "player,AddOutPut,targetname default_player,0,-1"
    }
}

;------------------
; Fix tunnel boost
;------------------

; filter
add:
{
    "origin" "1176 -6132 1457"
    "targetname" "filter_tunnel_boost"
    "Negated" "1"
    "filtername" "tunnel_boost"
    "classname" "filter_activator_name"
}

; Apply targetname for default users
add:
{
    "model" "*107"
    "targetname" "apply_tunnel_boost_trigger"
    "StartDisabled" "0"
    "spawnflags" "1"
    "origin" "4656 11632 -992"
    "classname" "trigger_multiple"
    "OnStartTouch" "!activator,AddOutPut,targetname tunnel_boost,0,-1"
}

; Exit push
modify:
{
    match:
    {
        "targetname" "trigger_push_02"
        "origin" "9136 8068 -1343.33"
        "classname" "trigger_push"
    }
    insert:
    {
        "filtername" "filter_tunnel_boost"
    }
}